<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <br>
    <button @click="displayBaconIpsum">Click for Bacon Ipsum</button>
    <h4 v-if="!isOnline">Page offline, Bacon Ipsum loaded from cache</h4>
    <p>{{baconIpsum}}</p>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  computed: {
    ...mapState({
      baconIpsum: state => state.BaconIpsum,
      isOnline: state => state.IsOnline
    })
  },

  mounted() {
  },

  methods: {
    ...mapActions([
      'getNewBaconIpsum'
    ]),

    displayBaconIpsum() {
      this.getNewBaconIpsum({
        type: 'all-meat',
        paras: '1',
        sentences: '3',
        startWithLorem: 1,
        format: 'json'
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
